body{
  color: #222;

}
img{
  max-width: 100%;
}
main{
  padding: 10px;
  max-width: 700px;
  margin: 0 auto;


}
header{
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}
header a{
  text-decoration: none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.4rem;
}
header nav{
  display:flex;
  gap: 15px;
}

div.post{
    display: flex;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 20px;
    margin-bottom: 35px;
}

div.post div.texts h2{
  margin:0;
  font-size: 1.8rem;
}
